/* import media and tools */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;600;700&family=Poppins:ital,wght@0,200;0,300;1,200;1,300&family=Share+Tech+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Share Tech Mono', sans-serif;
    background-color: black;
}
/* preview */
.all {
    position: relative;
    width: 100%;
    min-height: 800px;
    overflow: hidden;
    animation: start-page 4s linear 1 normal forwards;
}

.back-img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.all h1{
    display: inline-block;
    opacity: 0;
    color: white;
    border-bottom: rgb(238, 14, 81) solid 10px;
    font-size: 5rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: start-page-title 6s ease-out 1s 1 normal forwards;
}

@keyframes start-page {
    from {}
    to {
        background-color: rgba(0, 0, 0, 0.767);
    }
}

@keyframes start-page-title {
    0% {}
    60% {
        opacity: 1;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

/* header / menu items */

header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.1rem;
}
nav {
    margin: 0 auto;
    max-width: 1100px;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header label {
    color: rgb(238, 14, 81);
    font-size: 2rem;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    text-transform: uppercase;
    display: flex;
    flex-basis: 60%;
    justify-content: space-between;
}
nav ul li {
    transition: all ease-in 0.2s;
    padding: 10px 20px;
}
nav ul li:hover {
    cursor: pointer;
    transition: all ease-in 0.2s;
    background-color: rgb(238, 14, 81);
    border-radius: 50px;
} 

/* responsive navbar */
.resp-nav {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: rgb(238, 14, 81);
    border-radius: 50%;
    box-shadow:
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/ 
    inset 0 2px 2px rgba(255,255,255,0.8);
    display: none;
    flex-direction: column;
    align-items: center;
}

.resp-nav .bar {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 1px;
    position: absolute;
}
.bar1 {
    top: 30%
}
.bar2 {
    top:47%
}
.bar3{
    top:64%
}
/* animation */
.main {
    margin-top: 200px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text {
     animation: text-motion 3s ease-out 7s 1 normal forwards;
    flex-basis: 30%;
    position: relative;
    left: -700px;
}
.text-cont {
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 2s linear;
}
.fashion {
    position: relative;
    opacity: 1;
}

.animation {
    background: radial-gradient(400px, rgb(238, 14, 81), transparent 50%);
    animation: animation-motion 3s ease-out 7s 1 normal forwards;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right: -700px;
    height: 400px;
    width: 400px;
}

.animation label {
    position: absolute;
}
.rotation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotation-anim 60s linear 1s infinite normal;
}
.icons {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 10;
    left: 0;
    transform-origin: 200px;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 20px;
    height: 50px;
    width: 50px;
    transition: all 0.3s linear;
}
.icons img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.dress {
    transform: rotate(72deg);
}
.boot {
    transform: rotate(144deg);
}
.lipstick {
    transform: rotate(216deg);
}
.lotion {
    transform: rotate(288deg);
}
.glass {
    transform: rotate(0deg);
}
.icons:hover {
    cursor: pointer;
    border: solid rgb(238, 14, 81) 2px;
}
 
@keyframes rotation-anim {
    from {}
    to {transform: rotate(360deg);}
}
@keyframes animation-motion {
    from {}
    to {right: 0;}
}

@keyframes text-motion {
    from {}
    to {left: 0;}
}


/* responsiveness */
@media screen and (max-width:769px) {
    .main {
        flex-direction: column-reverse;
        margin-top: 100px;
    }
    .text {
        margin-top: 40px;
        width: 90%;
    }

    /* responsive navbar */
    nav {
        margin-top: 10px;
        position: fixed;
        justify-content: flex-start;
        flex-direction: column;
    }
    header nav label {
        display: none;
    }
    header nav .links {
        position: absolute;
        opacity: 0;
        top:80px;
        left: 20px;
        background-color: rgba(0, 0, 0, 0.644);
        border-radius: 30px;
        text-align: center;
        flex-direction: column;
    }
    header nav .resp-nav {
        order: -1;
        display: flex;
    }
    header nav .resp-nav:hover {
        cursor: pointer;
        transform: scale(1.2);
        background-color: rgb(236, 91, 135);
    }
    header nav .links.active {
        opacity: 1;
        transition: all 1s ease-out;
    }
}

@media screen and (max-width:420px) {
    .animation {
        width: 300px;
        height: 300px;
        background: radial-gradient(250px, rgb(238, 14, 81), transparent 50%); 
    }

    .icons {
        left: 0;
        transform: rotate(0deg);
        transform-origin: 150px;
        width: 30px;
        height: 30px;
    }
    .dress {
        transform: rotate(72deg);
    }
    .boot {
        transform: rotate(144deg);
    }
    .lipstick {
        transform: rotate(216deg);
    }
    .lotion {
        transform: rotate(288deg);
    }
    .glass {
        transform: rotate(0deg);
    }
}